approved = [
  "mit",
  "apache-2.0",
  "bsd-3-clause",
  "bsd-2-clause",
  "mpl-2.0",
]

ignored = [
  "github.com/gogo/protobuf",
  "sigs.k8s.io/yaml",
  "gopkg.in/fsnotify.v1",

  "github.com/davecgh/go-spew", # ISC license
]
