{{- $defaultBinDir :=
    (.Capabilities.KubeVersion.GitVersion | contains "-gke") | ternary
      "/home/kubernetes/bin"
      "/opt/cni/bin"
}}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "name-with-revision" ( dict "name" "istio-cni" "context" $) }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: istio-cni
    release: {{ .Release.Name }}
    istio.io/rev: {{ include "namespaced-revision" . }}
data:
  # The CNI network configuration to add to the plugin chain on each node.  The special
  # values in this config will be automatically populated.
  cni_network_config: |-
        {
          "cniVersion": "0.3.1",
          "name": "istio-cni",
          "type": "istio-cni",
          "log_level": {{ quote .Values.cni.logLevel }},
          "log_uds_address": "__LOG_UDS_ADDRESS__",
          {{if .Values.cni.ambient.enabled -}}
          "ambient_enabled": true,
          {{end -}}
          "kubernetes": {
              "kubeconfig": "__KUBECONFIG_FILEPATH__",
              "cni_bin_dir": {{ .Values.cni.cniBinDir | default $defaultBinDir | quote }},
              "exclude_namespaces": [ {{ range $idx, $ns := .Values.cni.excludeNamespaces }}{{ if $idx }}, {{ end }}{{ quote $ns }}{{ end }} ],
              "include_namespaces": [ {{ range $idx, $ns := .Values.cni.includeNamespaces }}{{ if $idx }}, {{ end }}{{ quote $ns }}{{ end }} ],
              "revision": "{{ include "namespaced-revision" . }}"
          }
        }
---
{{- if .Values.cni.taint.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "name-with-revision" ( dict "name" "istio-cni-taint" "context" $) }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: istio-cni
    release: {{ .Release.Name }}
    istio.io/rev: {{ include "namespaced-revision" . }}
data:
  config: |
        - name: {{ include "name-with-revision" ( dict "name" "istio-cni" "context" $) }}
          selector: app=istio-cni-node,istio.io/rev={{ include "namespaced-revision" . }}
          namespace: {{ .Release.Namespace }}
  {{- end }}
