# This manifest installs the Istio install-cni container, as well
# as the Istio CNI plugin and config on
# each master and worker node in a Kubernetes cluster.
{{- $defaultBinDir :=
    (.Capabilities.KubeVersion.GitVersion | contains "-gke") | ternary
      "/home/kubernetes/bin"
      "/opt/cni/bin"
}}
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: {{ include "name-with-revision" ( dict "name" "istio-cni-node" "context" $) }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: istio-cni-node
    release: {{ .Release.Name }}
    istio.io/rev: {{ include "namespaced-revision" . }}
{{- include "toYamlIf" (dict "value" .Values.cni.metadata.labels) | indent 4 }}
{{- include "toYamlIf" (dict "value" .Values.cni.metadata.annotations "key" "annotations" "indent" 2) | indent 2 }}
spec:
  selector:
    matchLabels:
      app: istio-cni-node
      release: {{ .Release.Name }}
{{- include "toYamlIf" (dict "value" .Values.cni.deploymentStrategy "key" "updateStrategy" "indent" 2) | indent 2 }}
  template:
    metadata:
      labels:
        app: istio-cni-node
        release: {{ .Release.Name }}
        sidecar.istio.io/inject: "false"
{{- include "toYamlIf" (dict "value" .Values.cni.podMetadata.labels) | indent 8 }}
      annotations:
        sidecar.istio.io/inject: "false"
        # Add Prometheus Scrape annotations
        prometheus.io/scrape: 'true'
        prometheus.io/port: "15014"
        prometheus.io/path: '/metrics'
{{- include "toYamlIf" (dict "value" .Values.cni.podMetadata.annotations) | indent 8 }}
    spec:
{{- if .Values.cni.priorityClassName }}
      priorityClassName: {{ .Values.cni.priorityClassName }}
{{- end }}
      serviceAccountName: {{ include "name-with-revision" ( dict "name" "istio-cni" "context" $) }}
      # Minimize downtime during a rolling upgrade or deletion; tell Kubernetes to do a "force
      # deletion": https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods.
      terminationGracePeriodSeconds: 5
      containers:
        # This container installs the Istio CNI binaries
        # and CNI network config file on each node.
        - name: install-cni
{{- if contains "/" .Values.cni.image }}
          image: "{{ .Values.cni.image }}"
{{- else }}
          image: "{{ .Values.cni.hub | default .Values.global.hub }}/{{ .Values.cni.image | default "install-cni" }}:{{ .Values.cni.tag | default .Values.global.tag }}{{with (.Values.cni.variant | default .Values.global.variant)}}-{{.}}{{end}}"
{{- end }}
{{- if .Values.global.imagePullPolicy }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
{{- end }}
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8000
          securityContext:
            runAsGroup: 0
            runAsUser: 0
            runAsNonRoot: false
            privileged: {{ .Values.cni.privileged }}
{{- if .Values.cni.seccompProfile }}
            seccompProfile:
{{ toYaml .Values.cni.seccompProfile | trim | indent 14 }}
{{- end }}
          command: ["install-cni"]
          args:
            {{- if .Values.global.logging.level }}
            - --log_output_level={{ .Values.global.logging.level }}
            {{- end }}
          env:
{{- if .Values.cni.cniConfFileName }}
            # Name of the CNI config file to create.
            - name: CNI_CONF_NAME
              value: "{{ .Values.cni.cniConfFileName }}"
{{- end }}
            # The CNI network config to install on each node.
            - name: CNI_NETWORK_CONFIG
              valueFrom:
                configMapKeyRef:
                  name: {{ include "name-with-revision" ( dict "name" "istio-cni" "context" $) }}
                  key: cni_network_config
            - name: CNI_NET_DIR
              value: {{ default "/etc/cni/net.d" .Values.cni.cniConfDir }}
            # Deploy as a standalone CNI plugin or as chained?
            - name: CHAINED_CNI_PLUGIN
              value: "{{ .Values.cni.chained }}"
            - name: REPAIR_ENABLED
              value: "{{ .Values.cni.repair.enabled }}"
            - name: REPAIR_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: REPAIR_LABEL_PODS
              value: "{{ .Values.cni.repair.labelPods }}"
            # Set to true to enable pod deletion
            - name: REPAIR_DELETE_PODS
              value: "{{ .Values.cni.repair.deletePods }}"
            - name: REPAIR_RUN_AS_DAEMON
              value: "true"
            - name: REPAIR_SIDECAR_ANNOTATION
              value: "sidecar.istio.io/status"
            - name: REPAIR_INIT_CONTAINER_NAME
              value: "{{ .Values.cni.repair.initContainerName }}"
            - name: REPAIR_BROKEN_POD_LABEL_KEY
              value: "{{ .Values.cni.repair.brokenPodLabelKey }}"
            - name: REPAIR_BROKEN_POD_LABEL_VALUE
              value: "{{ .Values.cni.repair.brokenPodLabelValue }}"
{{ include "toYamlIf" (dict "value" .Values.cni.env) | indent 12 }}
          volumeMounts:
            - mountPath: /host/opt/cni/bin
              name: cni-bin-dir
            - mountPath: /host/etc/cni/net.d
              name: cni-net-dir
            - mountPath: /var/run/istio-cni
              name: cni-log-dir
{{ include "toYamlIf" (dict "value" .Values.cni.volumeMounts) | indent 12 }}
{{ include "toYamlIf" (dict "value" .Values.cni.resources "key" "resources" "indent" 2) | indent 10 }}
{{- if .Values.cni.taint.enabled }}
        - name: taint-controller
{{- if contains "/" .Values.cni.image }}
          image: "{{ .Values.cni.image }}"
{{- else }}
          image: "{{ .Values.cni.hub | default .Values.global.hub }}/{{ .Values.cni.image | default "install-cni" }}:{{ .Values.cni.tag | default .Values.global.tag }}{{with (.Values.cni.variant | default .Values.global.variant)}}-{{.}}{{end}}"
{{- end }}
{{- if .Values.global.imagePullPolicy }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
{{- end }}
          command: ["/opt/local/bin/istio-cni-taint"]
          securityContext:
            runAsUser: 1337
            runAsGroup: 1337
            runAsNonRoot: true
{{- if .Values.cni.seccompProfile }}
            seccompProfile:
{{ toYaml .Values.cni.seccompProfile | trim | indent 14 }}
{{- end }}
          env:
          - name: "TAINT_RUN-AS-DAEMON"
            value: "true"
          - name: "TAINT_CONFIGMAP-NAME"
            value: "istio-cni-taint-configmap"
          - name: "TAINT_CONFIGMAP-NAMESPACE"
            value: {{ .Release.Namespace | quote }}
{{ include "toYamlIf" (dict "value" .Values.cni.taint.env) | indent 10 }}
{{ include "toYamlIf" (dict "value" .Values.cni.taint.volumeMounts "key" "volumeMounts" "indent" 2) | indent 10 }}
{{ include "toYamlIf" (dict "value" .Values.cni.taint.resources "key" "resources" "indent" 2) | indent 10 }}
{{- end }}
      volumes:
        # Used to install CNI.
        - name: cni-bin-dir
          hostPath:
            path: {{ .Values.cni.cniBinDir | default $defaultBinDir }}
        - name: cni-net-dir
          hostPath:
            path: {{ default "/etc/cni/net.d" .Values.cni.cniConfDir }}
        # Used for UDS log
        - name: cni-log-dir
          hostPath:
            path: /var/run/istio-cni
{{ include "toYamlIf" (dict "value" .Values.cni.volumes) | indent 8 }}
{{ include "toYamlIf" (dict "value" .Values.cni.affinity "key" "affinity" "indent" 2) | indent 6 }}
{{ include "toYamlIf" (dict "value" .Values.cni.nodeSelector "key" "nodeSelector" "indent" 2) | indent 6 }}
      tolerations:
      # Make sure istio-cni-node gets scheduled on all nodes.
      - effect: NoSchedule
        operator: Exists
      # Mark the pod as a critical add-on for rescheduling.
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoExecute
        operator: Exists
{{ include "toYamlIf" (dict "value" .Values.cni.tolerations) | indent 6 }}
