param1: value
param2:
  level2: value
version: "{{ .GetSpec.GetVersion }}"
enableAnalysis: {{ or .GetSpec.GetIstiod.GetEnableAnalysis true }}
istioNamespace: {{ .Namespace }}
resources:
{{ .GetSpec.GetIstiod.GetDeployment.GetResources | toYaml | indent 2 }}
istiod:
  {{ if .GetSpec.GetIstiod.GetDeployment.GetMetadata.GetLabels }}
  deploymentLabels:
{{ .GetSpec.GetIstiod.GetDeployment.GetMetadata.GetLabels | toYaml | indent 4 }}
  {{ else }}
  deploymentLabels: {}
  {{ end }}
