apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: istio-sample
spec:
  version: "1.1.10"
  autoInjectionNamespaces:
  - "default"
  useMCP: true
  mtls: true
  meshExpansion: true
  controlPlaneSecurityEnabled: true
