apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: istio-sample
spec:
  version: "1.6.7"
  autoInjectionNamespaces:
  - "default"
  useMCP: false
  meshPolicy:
    mtlsMode: STRICT
  meshExpansion: true
  controlPlaneSecurityEnabled: true
  proxy:
    image: "docker.io/istio/proxyv2:1.6.7"
  jwtPolicy: "first-party-jwt"
