apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: istio-sample
spec:
  version: "1.4.9"
  meshPolicy:
    mtlsMode: PERMISSIVE
  autoInjectionNamespaces:
  - "default"
  sidecarInjector:
    enabled: true
    initCNIConfiguration:
      enabled: true
