apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: multimesh
spec:
  version: "1.5.9"
  autoInjectionNamespaces:
  - "default"
  useMCP: false
  meshPolicy:
    mtlsMode: STRICT
  multiMesh: true
  controlPlaneSecurityEnabled: true
  istioCoreDNS:
    enabled: true
  citadel:
    caSecretName: "cacerts"
