apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: istio-sample
spec:
  version: "1.1.10"
  mtls: true
  autoInjectionNamespaces:
  - "default"
  sds:
    enabled: true
    udsPath: "unix:/var/run/sds/uds_path"
    useTrustworthyJwt: false
    useNormalJwt: true
  gateways:
    enabled: true
    ingress:
      enabled: true
      sds:
        enabled: true
        image: "docker.io/istio/node-agent-k8s:1.1.10"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 2000m
            memory: 1024Mi
  nodeAgent:
    enabled: true
    image: "docker.io/istio/node-agent-k8s:1.1.10"
