apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: istio-sample
spec:
  version: "1.6.0-rc.1"
  meshPolicy:
    mtlsMode: PERMISSIVE
  autoInjectionNamespaces:
  - "default"
  sidecarInjector:
    enabled: true
    initCNIConfiguration:
      enabled: true
      chained: true
      repair:
        enabled: true
        hub: ""
        tag: ""
        labelPods: true
        deletePods: true
        initContainerName: "istio-validation"
        brokenPodLabelKey: "cni.istio.io/uninitialized"
        brokenPodLabelValue: "true"
