apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: istio-sample-v19x
spec:
  version: "1.9.0-rc.0"
  global: false
  meshPolicy:
    mtlsMode: PERMISSIVE
  autoInjectionNamespaces:
  - "default"
  gateways:
    ingress:
      runAsRoot: false
  sidecarInjector:
    initCNIConfiguration:
      enabled: true
      binDir: /home/kubernetes/bin
      chained: true
      repair:
        enabled: true
        hub: ""
        tag: ""
        labelPods: true
        deletePods: true
        initContainerName: "istio-validation"
        brokenPodLabelKey: "cni.istio.io/uninitialized"
        brokenPodLabelValue: "true"
  proxy:
    image: "docker.io/istio/proxyv2:1.9.0-rc.0"
  jwtPolicy: "first-party-jwt"
