apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: istio-sample
spec:
  version: "1.6.0-beta.1"
  autoInjectionNamespaces:
  - "default"
  useMCP: false
  meshPolicy:
    mtlsMode: STRICT
  meshExpansion: true
  controlPlaneSecurityEnabled: true
