apiVersion: istio.banzaicloud.io/v1beta1
kind: MeshGateway
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: meshgateway-sample
spec:
  type: ingress
  replicaCount: 1
  minReplicas: 1
  maxReplicas: 5
  serviceType: "LoadBalancer"
  loadBalancerIP: ""
  serviceAnnotations: {}
  serviceLabels: {}
  ports:
    - port: 15020
      targetPort: 15020
      name: status-port
    - port: 80
      targetPort: 80
      name: http2
    - port: 443
      name: https
    - port: 15443
      targetPort: 15443
      name: tls
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 2000m
      memory: 1024Mi
