apiVersion: istio.banzaicloud.io/v1beta1
kind: Istio
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: istio-sample-v17x
spec:
  version: "1.7.0"
  global: false
  autoInjectionNamespaces:
  - "default"
  useMCP: false
  meshPolicy:
    mtlsMode: STRICT
  meshExpansion: true
  proxy:
    image: "docker.io/istio/proxyv2:1.7.0"
  jwtPolicy: "first-party-jwt"
